html,
body {
  height: 100%;
}
.bg {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(
    349deg,
    rgba(23, 40, 60, 0.29744397759103647) 0%,
    rgba(72, 128, 221, 1) 50%,
    rgba(72, 128, 221, 1) 73%
  );
}
h1,
h2 {
  text-align: center;
  color: rgb(33, 29, 80);
}
li {
  font-size: 1.5rem;
}
p {
  margin: 0;
}
a {
  float: right;
  text-decoration: none;
  color: rgb(6, 6, 97);
  font-size: 1rem;
}
a:hover {
  color: rgb(238, 244, 252);
}
.career {
  color: rgb(238, 244, 252);

  font-size: 1rem;
}
.films {
  padding: 0 50px;
  color: rgb(238, 244, 252);
  font-size: 1.2rem;
}
